<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All_users</title>
</head>

<style>
    table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: medium;
        min-width: 400px;
    }

    td, th {
        padding: 3px;
        border: 2px solid black;
        text-align: center;
        background-color: white;
        color: black;
    }

    caption {
        font-weight: bolder;
        border-style: solid;
        background-color: darkcyan;
        font-size: medium;
    }

</style>
<body>
<table>
    <caption>Table of users</caption>
    <thead>

    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Age</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${allUsers}">
        <td th:text="${user.getName()}"></td>
        <td th:text="${user.getSurname()}"></td>
        <td th:text="${user.getAge()}"></td>
        <td th:text="${user.getEmail()}"></td>
        <td>
        <td>
            <form th:method="GET" th:action="@{/{id}/edit(id=${user.getId()})}">
                <button type="submit">edit</button>
            </form>
        </td>
        <td>
            <form th:method="DELETE" th:action="@{/{id}(id=${user.getId()})}">
                <button type="submit">delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<form th:action="@{/new}">
    <button type="submit">Add</button>
</form>
</body>
</html>