<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start page</title>
</head>
<style>

    h2 {
        padding: 3px;
        border: 2px solid black;
        text-align: center;
        background-color: aliceblue;
        color: black;
    }

    h3 {
        padding: 2px;
        border: 2px solid black;
        text-align: center;
        background-color: lightskyblue;
        color: black;
    }

</style>
<body>

<h2>Hello, pleased to Meet You here</h2>
<br>
<h3>
    <a th:href="@{/users}">
        Database of users
    </a>
</h3>

</body>
</html>